footer {
    left: 0;
    width: 100%;
}

#decoracioXilofon {
    background: linear-gradient(135deg, #4d2e00 25%, transparent 25%) -50px 0, linear-gradient(225deg, #4d2e00 25%, transparent 25%) -50px 0, linear-gradient(315deg, #4d2e00 25%, transparent 25%), linear-gradient(45deg, #4d2e00 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: rgb(136, 85, 9);
    height: 50px;
    width: 530px;
    position: absolute;
    margin-top: 5%;
    z-index: 1;
}

#xilofon {
    display: flexbox;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: auto;
}

.btnxilofon {
    vertical-align: top;
    position: relative;
    overflow: hidden;
    margin-right: 1px;
    width: 75px;
    border-radius: 50px/25px;
    background-color: rgba(193, 154, 107, 0.5);
    float: left;
}

.btnxilofon:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 75px;
    height: 40px;
    border-radius: 50px/25px;
    background-color: rgba(193, 154, 107, 0.2);
    content: '';
}

.btnMenu {
    float: left;
}

#Re {
    height: 32vw;
}

#Mi {
    height: 29vw;
}

#Fa {
    height: 26vw;
}

#Sol {
    height: 23vw;
}

#La {
    height: 20vw;
}

#Si {
    height: 17vw;
}

#Do {
    height: 14vw;
}


/*sidebar*/

.btnmenu {
    float: left;
}

.menuDiv {
    margin: 0%;
    text-align: center;
}

.menuDiv button {
    width: 90%;
}

.menuDiv img {
    height: 50%;
    width: 50%;
}

.navbar h1 {
    color: white;
}
.reproductor{
    position: absolute;
    bottom:0px;
    text-align: center;
}

#sidenav {
    background-color: grey;
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

#sidenav a {
    font-size: 25px;
    color: honeydew;
    display: block;
}

#sidenav :hover {
    color: #ffffff;
}

@media screen and (max-width: 100%) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/*fin sidebar*/

.btnxilofon:active {
    /* set time duration to your needs */
    animation: gradient 200ms;
    background-color: rgba(153, 123, 86, 1);
    box-shadow: none;
}

@keyframes gradient {
    0% {
        background: radial-gradient(circle at center, rgba( 153, 123, 86, 0) 0%, rgba(193, 154, 107, 0.5) 0%, rgba(193, 154, 107, 0.5) 100%);
    }
    25% {
        background: radial-gradient(circle at center, rgba( 153, 123, 86, 0.3) 24%, rgba(193, 154, 107, 0.5) 25%, rgba(193, 154, 107, 0.5) 100%);
    }
    50% {
        background: radial-gradient(circle at center, rgba( 153, 123, 86, 0.5) 49%, rgba(193, 154, 107, 0.5) 50%, rgba(193, 154, 107, 0.5) 100%);
    }
    75% {
        background: radial-gradient(circle at center, rgba( 153, 123, 86, 0.8) 74%, rgba(193, 154, 107, 0.5) 75%, rgba(193, 154, 107, 0.5) 100%);
    }
    100% {
        background: radial-gradient(circle at center, rgba(153, 123, 86, 1) 99%, rgba(193, 154, 107, 0.5) 100%, rgba(193, 154, 107, 0.5) 100%);
    }
}